Repository fengyuanchen/pickerjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

build: release 1.1.0
  dist/picker.common.js
  dist/picker.css
  dist/picker.esm.js
  dist/picker.js
  dist/picker.min.css
  dist/picker.min.js
  docs/css/picker.css
  docs/index.html
  docs/js/main.js
  docs/js/picker.js
  docs/js/picker.zh-CN.js
  i18n/picker.zh-CN.js
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

refactor: improve title text
  README.md
  docs/index.html
  docs/js/main.js
  docs/js/picker.zh-CN.js
  i18n/picker.zh-CN.js
  src/js/defaults.js
  test/specs/options/text.spec.js
Due: eslint --fix, stylelint --fix

feat: enhance the `text` option for defining the column headers
  CHANGELOG.md
  README.md
  docs/js/picker.zh-CN.js
  i18n/picker.en-US.js
  i18n/picker.zh-CN.js
  src/js/defaults.js
  src/js/picker.js
  types/index.d.ts
Due: eslint --fix

feat: add the `control` option
  CHANGELOG.md
  README.md
  docs/index.html
  docs/js/main.js
  src/css/picker.css
  src/js/defaults.js
  src/js/handlers.js
  src/js/picker.js
  test/specs/options/controls.spec.js
  test/specs/options/headers.spec.js
  types/index.d.ts
Due: eslint --fix, stylelint --fix

test: add test sutes
  test/specs/Picker.spec.js
  test/specs/methods/hide.spec.js
  test/specs/methods/show.spec.js
  test/specs/options/format.spec.js
  test/specs/options/pick.spec.js
  test/specs/options/show.spec.js
Due: eslint --fix

refactor: improve code
  src/js/constants.js
  src/js/handlers.js
  src/js/helpers.js
  src/js/methods.js
  src/js/picker.js
  src/js/template.js
  src/js/utilities.js
Due: eslint --fix

refactor: improve wrapper
  i18n/picker.en-GB.js
  i18n/picker.en-US.js
  i18n/picker.pl-PL.js
  i18n/picker.zh-CN.js
Due: eslint --fix

test: add test suites
  test/specs/methods/noConflict.spec.js
  test/specs/methods/setDefaults.spec.js
  test/specs/options/headers.spec.js
  test/specs/options/rows.spec.js
Due: eslint --fix

build: release 1.2.0
  CHANGELOG.md
  dist/picker.common.js
  dist/picker.css
  dist/picker.esm.js
  dist/picker.js
  dist/picker.min.css
  dist/picker.min.js
  docs/css/picker.css
  docs/index.html
  docs/js/picker.en-GB.js
  docs/js/picker.en-US.js
  docs/js/picker.js
  docs/js/picker.pl-PL.js
  docs/js/picker.zh-CN.js
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

fix: remove duplicate tokens
  CHANGELOG.md
  src/js/utilities.js
Due: eslint --fix

fix: use current date to calculate the max days
  src/js/picker.js
Due: eslint --fix

fix: use current date to calculate the max days (#23)
  src/js/picker.js
Due: eslint --fix

style: add note
  src/js/picker.js
Due: eslint --fix

build: update dependencies
  package.json
Due: none

build: move configures into package.json
  .browserslistrc
  .commitlintrc
  .huskyrc
  .lintstagedrc
  package.json
Due: none

ci: cache dependencies
  .travis.yml
Due: none

build: release 1.2.1
  CHANGELOG.md
  README.md
  dist/picker.common.js
  dist/picker.css
  dist/picker.esm.js
  dist/picker.js
  dist/picker.min.css
  dist/picker.min.js
  docs/css/picker.css
  docs/index.html
  docs/js/picker.js
  package-lock.json
  package.json
Due: eslint --fix, stylelint --fix

docs: fix highlight initializing
  docs/index.html
  docs/js/main.js
Due: eslint --fix, stylelint --fix

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Stops scrolling immediately on pointerUp
  dist/picker.js
Due: eslint --fix

Now we have an option to stop scrollingimmediately or not on pointerUp
  dist/picker.js
Due: eslint --fix

i18n to pt-BR
  i18n/picker.pt-BR.js
Due: eslint --fix

i18n to pt-BR (#34)
  i18n/picker.pt-BR.js
Due: eslint --fix

Update max hour to 1
  dist/picker.common.js
  dist/picker.esm.js
  dist/picker.js
  docs/js/picker.js
  package-lock.json
  package.json
  src/js/picker.js
Due: eslint --fix

Reset hour max and set min max to 60
  dist/picker.common.js
  dist/picker.esm.js
  dist/picker.js
  docs/js/picker.js
  src/js/picker.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,scss,html}
